# Print文 コメント

In [1]:
print("Hello World!")

# こんにちは    
# セルの最後に変数書くだけでも表示される

Hello World!

# 変数　データ型

In [3]:
x = 1
a = "こんにちは"

print(a)

こんにちは

In [6]:
print(type(x))

type(a)

<class 'int'>

str

# 3数値型の基本操作

In [8]:
45*1000

10/3

3.3333333333333335

In [9]:
20%6

2

In [12]:
x=13
x**2

169

In [13]:
x*(x+1)*(x+2)

2730

# 4.文字列型の基本操作

In [15]:
moji = "こんにちは"

moji

'こんにちは'

In [7]:
bunsho="i have a pen"
bunsho.lower()

'i have a pen'

In [20]:
bunsho.upper()

'I HAVE A PEN'

In [21]:
bunsho.replace("a","A")

'i hAve A pen'

In [6]:
bunsho2="I have an apple"
bunsho2 + "  " +bunsho

NameError: name 'bunsho' is not defined

# 5 if文

In [8]:
a = 25
a = int(input("整数を入力してください"))
if a % 2 == 0:
    print("偶数")
else:
    print("奇数")

偶数

In [14]:
a = 28

if (a>= 20) and (a%3) == 0:
    print("20以上 かつ3以上")
elif (a>20) | (a%2==0):
    print("20以上または偶数")
else:
    print("条件外")

20以上または偶数

# 6. for文

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [18]:
a =[2,3,5] 
for i,j in enumerate(a):
    print(f"{i}   {j}" )

0   2
1   3
2   5

In [21]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

for a, b, c in zip(list1, list2, list3):
    print(f"{a} - {b} - {c}")

1 - a - x
2 - b - y
3 - c - z

In [22]:
zipped = [(1, 'a'), (2, 'b'), (3, 'c')]

list1, list2 = zip(*zipped)
print(list1)  # (1, 2, 3)
print(list2)  # ('a', 'b', 'c')

(1, 2, 3)
('a', 'b', 'c')

In [23]:
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

dictionary = dict(zip(keys, values))
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

# 7. while文

In [ ]:
number = 0
i= 0
while i < 10:
    number += i
    i += 1
    print(number)

0
1
3
6
10
15
21
28
36
45

# 8. リスト　タプル　辞書

In [29]:
a=3
b=4
c=5
d=6
print(a,b,c,d)

3 4 5 6

In [ ]:
a = [1, 2, 3, 5 , 7 , 9] 
print(a[2])
max(a)

3

9

In [36]:
print(a[:4])
print(a[1:4])
print(a[3:])

[1, 2, 3, 5]
[2, 3, 5]
[5, 7, 9]

In [37]:
if 4 in a:
    print("4は含まれています")
else:
    print("4は含まれていません")

4は含まれていません

In [38]:
for i in a:
    print(i)

1
2
3
5
7
9

In [39]:

b=(1,2,3)

In [40]:
a[0]   = 10
a

[10, 2, 3, 5, 7, 9]

In [ ]:
a.append(11)

In [45]:
b.count(4)

0

In [47]:
dic = {"name": "Alice", "age": 25, "city": "New York"}
dic["age"]

25

In [49]:
dic.values()

dict_values(['Alice', 25, 'New York'])

In [ ]:
dic.keys() #順番の概念がない　リストにはある

dict_keys(['name', 'age', 'city'])

# 9 関数

In [56]:
def double(x):
    return x*2

double(2)

def calc(a,b,c):
    x = a*b*c
    y = a+b+c
    return [x,y]


print(calc(5,2,3))
print(calc(5,2,3)[0])
print(calc(5,2,3)[1])

[30, 10]
30
10

# 10. クラス　インスタンス

In [64]:
class Person:
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
    def introduce(self):
        print(f"私の名前は{self.name}、{self.age}才、{self.city}に住んでいます")
    def test(self,a):
        print(a)

    def test2(self):
        self.name = "愛"
    
p = Person("Alice", 25, "New York")

p.test("as")
p.test2()
p.introduce()

p.name = "上"
p.introduce()
type(p)

as
私の名前は愛、25才、New Yorkに住んでいます
私の名前は上、25才、New Yorkに住んでいます

__main__.Person

In [65]:
c = Person("Alice", 25, "New York")

c.introduce()

私の名前はAlice、25才、New Yorkに住んでいます

In [66]:
vars(c)

{'name': 'Alice', 'age': 25, 'city': 'New York'}